<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mvc.cryptovault.console.dao.AdminPermissionMapper">
  <select id="selectAll" resultMap="BaseResultMap">
    select id, permission_key, permission_name
    from admin_permission
  </select>
</mapper>