<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mvc.cryptovault.console.dao.AdminUserPermissionMapper">
  <select id="selectAll" resultMap="BaseResultMap">
    select user_id, permission_id
    from admin_user_permission
  </select>
</mapper>