<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mvc.cryptovault.console.dao.AppUserMapper">
  <select id="selectAll" resultMap="BaseResultMap">
    select id, cellphone, password, transaction_password, nickname, created_at, updated_at
    from app_user
  </select>
</mapper>