<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mvc.cryptovault.console.dao.AppUserTransactionMapper">
  <select id="selectAll" resultMap="BaseResultMap">
    select id, pair_id, created_at, updated_at, order_number, parent_id, value, success_value, 
    user_id, target_user_id, price, transaction_type, status
    from app_user_transaction
  </select>
</mapper>