<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mvc.cryptovault.console.dao.BlockTransactionMapper">
  <select id="selectAll" resultMap="BaseResultMap">
    select id, hash, created_at, updated_at, fee, height, token_id, opr_type, user_id, 
    status, error_msg, error_data, value, from_address
    from block_transaction
  </select>
</mapper>