<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mvc.cryptovault.console.dao.CommonTokenPriceMapper">
  <select id="selectAll" resultMap="BaseResultMap">
    select token_id, token_price
    from common_token_price
  </select>
</mapper>